* text=auto
src/assets/Skills/git.svg binary
src/assets/Skills/github.svg binary
src/assets/Skills/js.svg binary
src/assets/Skills/linkedin.svg binary
src/assets/Skills/js.svg binary
src/assets/Skills/js.svg binary
src/assets/Skills/js.svg binary

